
body{
   background-color: #FACBCA;

}

h1{
  font-family: tahoma;
  font-size: 100px;
  text-align: center;
  color: black;
  margin-top: 20px;

}

ul{

  font-family: tahoma;
  margin-top: 10px;
  margin-left: 50px;
  font-size: 25px;
  color: black;

}
