* {

}

h1{
  color: white;
  font-family: helvetica, sans-serif;
  font-size: 400%;
  font-weight: 900;
  margin-left: 150px;
  margin-top: 50px;
}

body{
   background-color: #B77E98;
}

li{
  font-size: 100%;
  font-weight: bold;
  font-family:helvetica, sans-serif;
  margin-left: 120px;
  padding-top: 20px;

}

.padding-hover:hover {
  background-color:black;
  color:white;
  text-decoration: underline;
}

button {
  border: none;
  color: #B77E98;
  margin-left: 150px;
  margin-top: 50px;
  padding: 2%;

}

.container {
background-image: url(https://townsquare.media/site/442/files/2016/10/The-Cat-in-the-Hat.jpg?w=980&q=75);
background-size: cover;
height:400px
margin:0 auto;
width:25%

}
