* {

}

body {
   background-color: #E5B7B7;
}

button {
  border: none;
  color: #E5B7B7;
  margin-left: 150px;
  margin-top: 50px;
  padding: 2%;

}

.layout{
  margin-left: 60px;
}

/*---Media Queries---*/
@media screen and (max-width: 1000px) {
    body {

        background-color: #DB9B40;
    }
}

@media screen and (max-width: 700px) {
    body {
        background-color: #EAAE68;
    }
}


h1 {
  color: white;
  font-family: Arial;
  font-size: 400%;
  font-weight: 900;
  margin-left: 150px;
  margin-top: 50px;
}


.padding-hover:hover {
  background-color:black;
  color:white;
  text-decoration: underline;
}


.container {

    background-image: url(https://github.com/jgriffyy/gra-321-2020/blob/master/code-exercises/img/exercise2.jpg?raw=true);
    background-size: contain;
    background-repeat: no-repeat;
    height: 700px;
    margin:0 auto;
    width:70%;
}

h2 {
  color:black;
  font-family: Arial;
  font-size: 200%;
  font-weight: 900;
  margin-left: 150px;
  margin-top: 50px;
}

h3 {
  color: gray;
  font-family: serif;
  font-size: 150%;
  font-weight: normal;
  margin-left: 150px;
  margin-top: 20px;
}

li {
  margin-left: 140px;
  font-size: 200%;
  font-weight: bold;
}

.test {
  position:fixed;
  top: 0;
  right: 30px;
  margin-left: 150px;

}
