* {

}

h1{
  color: white;
  font-family: helvetica, sans-serif;
  font-size: 400%;
  font-weight: 900;
  margin-left: 150px;
  margin-top: 50px;
}

body{
   background-color: #B77E98;
}

li{
  font-size: 100%;
  font-weight: bold;
  font-family:helvetica, sans-serif;
  margin-left: 120px;
  padding-top: 20px;

}

.padding-hover:hover {
  background-color:black;
  color:white;
  text-decoration: underline;
}

button {
  border: none;
  color: #B77E98;
  margin-left: 150px;
  margin-top: 50px;
  padding: 2%;

}

.container {
background-image: url(https://i.redd.it/voi5a6i6vdw11.jpg);
background-size: cover;
height:700px;
margin:0 auto;
width:70%;

}

div {
  color:black;
}
