* {

}

body{
   background-color: #E5B7B7;
}

h1{
  font-family: helvetica;
  font-size: 500%;
  font-weight: 900;
  color: white;
  margin-top: 50px;
  margin-left: 150px;
}

h2{
  font-family: helvetica;
  font-size: 170%;
  font-weight: 900;
  color: black;
  margin-top: 20px;
  margin-left: 175px;
}


li{
  font-family:helvetica, sans-serif;
  margin-left: 140px;
  padding-top: 10px;
  font-size: 140%;
  font-weight: bold;
}
