body{
  background-color: red;
}


h1{
  color:black;
  font-family: Arial;
  font-size: 200%;
  font-weight: 900;
  margin-top: 50px;
}

h2{
  color: gray;
  font-family: serif;
  font-size: 150%;
  font-weight: normal;
  margin-top: 20px;
}

img {
  display: block;
  float: right;
  padding-right: 30px;
}
