
body{
  background-color: white;
}


h1{
  color:black;
  font-family: Arial;
  font-size: 50px;
  font-weight: bold;
  line-height: 40px;
  margin-top: 100px;
  margin-left: 60px;
}

h2{
  font-family: serif;
  font-size: 25px;
  font-weight: normal;
  margin-top: 30px;
  margin-left: 60px;
}

h3{
  text-align: right;
  font-family: serif;
  font-size: 16px;
  font-weight: normal;
  margin-left: 1100px;

}

img {
  display:block;
  float:right;
}

.bowls{
  margin-right:30px;
  width:932px;
}

.knives{
  margin-bottom: 60px;
  margin-right:30px;
  margin-top:20px;
  width:932px;
}

p{
  font-family: Helvetica;
  font-size: 18px;
  line-height: 25px;
  margin-top: 1000px;
  margin-left: 60px;
}
