
body{
  background-color: white;
}


h1{
  color:black;
  font-family: Arial;
  font-size: 300%;
  font-weight: 900;
  margin-top: 80px;
  margin-left: 60px;
}

h2{
  color: Gray;
  font-family: serif;
  font-size: 200%;
  font-weight: normal;
  margin-top: 50px;
  margin-left: 60px;
}

img {
  display:block;
  float:right;
}

.bowls{
  margin-right:30px;
  width:932px;
}

.knives{
  margin-right:30px;
  margin-top:20px;
  width:932px;
}
