a {
	font-family: Helvetica;
	font-size: 16pt;
	font-weight: bold;
	text-decoration: none;
	color: black;
}


body {
	color: #311008;
	font-family: Helvetica;
}


h1 {
	font-size: 20pt;
}

header {
	text-align: center;
	padding-top: 1em;
	padding-bottom: 2em;
}

html {

}

nav ul {
	font-size: 1.2em;
	list-style: none;
	margin: 0;
	padding-left: 0;
	text-align: center;
	background-color: #A2A941;

}

p {
	line-height: 25pt;
	font-size: 16pt;
}

table {
	width: 500px;
}

ul {
	list-style: none;
	line-height: 30pt;
	font-size: 16pt;
}

.hot {
	line-height: 30pt;
	font-size: 16pt;
	text-align: left;
}

.menupics {
	width: 100%;
}

#about p {
	background: url(https://github.com/jgriffyy/GRA321/blob/master/responsive-project/img/coffeedrip.jpg?raw=true) no-repeat
		center center fixed;
	background-size: cover;

	color: #FFF;
	padding: 40px 40px 40px 40px;
}

#contactus {
	padding: 10px 30px 30px 30px;
	line-height: 20pt;
	background-color: #A2A941;
}

#iced,#teas,#specials {
	line-height: 30pt;
	font-size: 16pt;
	text-align: left;
}

#locations {
	line-height: 20pt;
	font-size: 14pt;
	padding: 5px 30px 30px 30px;
	background-color: #F3F3F3;
}


@media only screen and (min-width: 1024px) {

}
