table {
	width: 600px;
}

body {
	color: #311008;
	font-family: Helvetica;
}

h1 {
	font-size: 20pt;
}

header {
	text-align: center;
	padding-top: 1em;
	padding-bottom: 2em;
}

p {
	line-height: 25pt;
	font-size: 16pt;
}

a {
	font-family: Helvetica;
	font-size: 16pt;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

nav ul {
	font-size: 1.2em;
	list-style: none;
	margin: 0;
	padding-left: 0;
	text-align: center;
}

ul {
	list-style: none;
	line-height: 30pt;
	font-size: 16pt;
}

#contactus {
	padding-top: 3px;
	line-height: 20pt;
}

#hotcup,#icedcup{}

#hot,
#specials,
#teas {
	line-height: 30pt;
	font-size: 16pt;
	text-align: left;
}

#iced {
  line-height: 30pt;
  font-size: 16pt;
  text-align: left;}

#locations {
	line-height: 20pt;
	font-size: 14pt;
	padding-bottom: 30px;
}


@media only screen and (min-width: 1024px) {
	#about {

	}

  #espresso {
  width: 700px;
  margin-right: 0;
	}

#wrapper {padding-left: 70px; padding-right: 70px;}

.menupics,#locationpics { width: 40%;

	}

	nav ul {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-around;
		padding: .5em .5em .5em .5em;
	}
	nav a {
		font-size: 20pt;
		font-weight: bold;
	}
}
